
<h2>WELCOME <%= current_user["email"] %></h2>
<a href="/cakes">HOME</a>

<section class="main">
    <div class="create">
        <a href="/cakes/new">CREATE A NEW CAKE</a>
    </div>
        <div>
         <section class="all-cakes"> 
            <% cakes.each do |cake| %>
                <section class="cakes-item">
                    <section class="info">
                        <h3><%= cake["cake_name"] %></h3>
                        <h3>$ <%= cake["price"] %></h3>
                        <a href="/cakes/<%= cake["id"] %>/edit">Edit</a>
                    </section>
                        <form action="/cakes/<%= cake["id"] %>" method="POST"> 
                            <input type="hidden" name="_method" value="DELETE" />
                            <input type="submit" value="Delete" />
                            <img src="<%= cake["image_url"] %>" alt="">
                        </form>
                </section>
            <% end %>
        </section>
    </div>
</section>


<%# <footer class="footer">
    <section class="contact">
        <ul>
            <li>
                <a href="https://www.google.com/maps/@-33.8980261,151.1816286,3a,75y,225.23h,82.87t/data=!3m6!1e1!3m4!1s56kD6b4OiEbO_f8w-LNO8Q!2e0!7i16384!8i8192">Address: 15 Erskineville Rd
        Newtown, New South Wales</a> 
            </li>
                <li>Phone Number: 02 6588 6142</li>
                <li>Email Mia_Cake_Shop@pastry.com</li>
        <ul>
            <li>
                Instagram = @Mia_Cake_Shop
                Facebook = address
            </li>
        </ul>
        </ul>
    </section>
</footer>    %>
