<%# <section class="header">
    <video controls="controls" src="">
    <div class="background-image"></div>
</section> %>

<h2>WELCOME <%= current_user["email"] %></h2>

<section>
    <div class="create">
        <a href="/cakes/new">CREATE A NEW CAKE</a>
    </div>
        <div>
         <section class="all-cakes"> 
            <% cakes.each do |cake| %>
                <section class="cakes-item">
                    <section class="info">
                        <h3><%= cake["cake_name"] %></h3>
                        <h3>$ <%= cake["price"] %></h3>
                        <a href="/cakes/<%= cake["id"] %>/edit">Edit</a>
                    </section>
                        <form action="/cakes/<%= cake["id"] %>" method="POST"> 
                            <input type="hidden" name="_method" value="DELETE" />
                            <input type="submit" value="Delete" />
                            <img src="<%= cake["image_url"] %>" alt="">
                        </form>
                </section>
            <% end %>
        </section>
    </div>
</section>

<footer class="footer">
    <H3>HERE I WANT TO INSERT THE FOOTER FOR CONTACT US SECTION, SITE MAP, SOCIAL MEDIA ETC</H3>
</footer>   
