<h1>HERE I WANT TO INSERT A LARGE PHOTO</h1>
<BR></BR>

<h2>Welcome <%= current_user["email"] %></h2>

<a href="/cakes/new">Create a New Cake</a>
<div>
    <section class="all-cakes"> 
        <% cakes.each do |cake| %>
            <section class="cakes-item">
                <section class="info">
                    <h2>Cake name: <%= cake["cake_name"] %></h2>
                    <h2>$ <%= cake["price"] %></h2>

                    <a href="/cakes/<%= cake["id"] %>/edit">Edit</a>

                    <form action="/cakes/<%= cake["id"] %>" method="POST"> 
                        <input type="hidden" name="_method" value="DELETE" />
                        <input type="submit" value="Delete" />
                        <img src="<%= cake["image_url"] %>" alt="">
                    </form>
                </section>
            </section>
        <% end %>
    </section>

</div>
<BR></BR>
<H3>HERE I NEED TO INSERT THE FOOTER FOR CONTACT US SECTION, SITE MAP, SOCIAL MEDIA</H3>
<footer></footer>